/* Text-Utilities CSS */
.center {
    text-align: center;
    font-size: 33px;
    color: cadetblue;
}

.heading {
    text-align: left;
}

.gray {
    color: gray;
}

.small {
    font-size: small;
    text-align: left;
}
.aside{
    font-size: 17px;
    padding: 1rem;
}
.content{
    font-size: 17px;
   margin-left: 18px;
   padding: 0.5rem 0.5rem;
}
.content > a{
    text-decoration: none;
    color: black;
}
.content1 > a{
    text-decoration: none;
    color: black;
    margin-left: 12px;
}